.App {
  background-color: aquamarine;
  border: solid 5px #462905;
  text-align: center;
  width: 500px;
  border-radius: 10px;
  margin: 400px;
  box-shadow: 10px 5px 5px #181616;
}

.current {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.incr {
  color: purple;
}

.reset {
  color: red;
}

.table { border: solid 2px #462905;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  background-color: cyan;
  height: 30px;
  font-family: "Calisto MT";
  font-style: italic;

}

.table.tableBlock { border: solid 2px #462905;
  border-radius: 10px;
  padding: 10px;
  font-size: 30px;
  background-color: cyan;
  height: 30px;
  font-family: "Calisto MT";
  font-style: italic;
  color: red

}




